
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color:rgb(0 173 255 / 75%);
    color: #fff;
    padding: 15px 0;
    position: relative;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    color: #fff;
  }
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  .sec-link a{
    text-decoration: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .login-container {
    display: flex;
    align-items: center;
  }
  
  /* External CSS file or within <style> tags */
/* Corrected CSS */
body {
  margin: 0;
  padding: 0;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 56%;
  height: 100vh;
  background-image: url('travel-tourism-background-concept-airplane-260nw-1615461409.jpg');
  background-size: cover;
  background-position: top right;
  z-index: -1;
}


.image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('travel-tourism-background-concept-airplane-260nw-1615461409.jpg');
  background-size: cover;
  background-position: top right;
  z-index: -1;
}



 
  